.p{
    width:30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid rgb(243, 242, 242);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}
.p-browser{
    height: 20px;
    background-color:rgb(243, 242, 242);
    display: flex;
    align-items:center ;
}
.p-circle{
    width:6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color: black;
}
.p-img{
    width:60%;
    height:50%;
    overflow: hidden;
}
.p-dis{
    overflow: hidden;
}
.btn{
   background-color: red;
   cursor:pointer;
   width: 50px;
   height:50px;
   padding: 2px;
}

@media screen and (max-width: 480px){
    .p{
        width: 40%;
        height: 30vh;
    }
    .p-img{
        width:40%;
        height:40%;
    }
    .p-browser{
        height:10px;
    }
    .p-circle{
        width: 4px;
        height: 4px;
    }
    .btn{
        background-color: red;
        font-weight: 300;
        width:50px;
        height:50px;
        text-align: center;
        padding: 2px;
        margin: 2px;
        
    }
}